@{
    ViewBag.Title = "Food";
}

<div class="four-images">
    <div class="cell">
        <a href="@Url.Action("SoftDrink", "Home")">
            <img src="~/Pictures/SoftDrink.jpg" alt="Drinks" style="width:100%"/>
            <div class="text"> Soft Drinks </div>
        </a>
    </div>

    <div class="cell">
        <a href="@Url.Action("StrongDrink", "Home")">
            <img src="~/Pictures/StrongDrink.jpg" alt="Food" style="width:100%"/>
            <div class="text"> Strong Drinks </div>
        </a>
    </div>
</div>
<div class="button">
    <a href="@Url.Action("Index", "Home")">
        <button type="button"> Go back </button>
    </a>
</div>

<style>
.four-images{
column-count: 2;
}
.button{
float: right;
padding: 5px;
border: none;
background-color: inherit;
font-size: 20px;
cursor:pointer;
display: inline-block;
}
.button:hover{
color: deepskyblue;
}

 /* Picture alignment */
.cell{

    width:100%;
    height: 70%;
    display:inline-block;
    position:relative;
    transition:.3s;
    padding:2px;
    cursor: pointer;
    border-radius: 5px;
    column-gap: 0;
    overflow: hidden;
    float: left;
  }
  /* Text alignment */
 .cell .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        text-align: center;
        width: 60%; 
        font-size:50px;
        font-weight:bold;
        color:white;
        filter: brightness(100%);   
    }

  /*  Blur timing  */
  .cell img{
    width:100%;
    height:100%;
    transition:.5s;
    border-radius:4px;
    margin-top: 8px;
     
    
  }
  /*  Blur intensity  */
  .cell:hover img{
    filter:blur(5px) brightness(60%) ;
    box-shadow:0 0 16px white;
  }
   /* Text visibility, without affecting the picture and hyperlink */
  .cell a :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
   /* Text appearance */
  .cell:hover :not(img){
    opacity:1;
  }
</style>